anthropic==0.86.0
asgiref==3.8.1
dj-database-url==2.3.0
Django>=4.2,<6
gunicorn
packaging==24.2
pillow==11.1.0
psycopg==3.2.6
psycopg-binary>=3.2.10
sqlparse==0.5.3
typing-extensions>=4.8.0
whitenoise
python-decouple
python-dotenv